@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,h2{
  padding: 0;
  margin: 0;
}

.title{
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-shadow: 4px 1px 1px red;
}

.main-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}

.streamer{
  max-width: 300px;
  text-align: center;
  transition: all 0.5s;
}

.streamer:hover{
  transform: scale(1.1);
}

.streamer:first-child > .profile > img {
  box-shadow: 1px 3px 3px 3px gold;
}

.streamer:nth-child(2) > .profile > img {
  box-shadow: 1px 3px 3px 3px silver;
}
.streamer:nth-child(3) > .profile > img {
   box-shadow: 1px 3px 3px 3px saddlebrown;
 }

.profile{
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.username{
  max-width: 300px;
  word-wrap: break-word;
}
.position{
  font-size: 3em;
  color:white;
  -webkit-text-stroke: 2px black;
  position: absolute;
  top: 5px;
  left: 16px;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  font-family: 'Montserrat', serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media(max-width: 800px){
  .streamer > .profile > img {
    width: 70%;
  }

  .position{
    top: 3px;
    left: 56px;
  }
}